.product-detail-features {
  width: 100%;

  .product-detail-features-title {
    font-size: 15pt;
    font-weight: bolder;
  }

  .feature {
    padding-bottom: 10px;

    .feature-title {
      font-weight: bolder;
    }
  }
}
