@import "../../style-variables";

.product-detail-specifications {
  width: 100%;

  .product-detail-specifications-title {
    font-size: 15pt;
    font-weight: bolder;
  }

  table {
    border-collapse: collapse;
    border: 1px solid $mediumGrey;
    margin-top: 20px;
    width: 80%;

    tr {
      border: none;
    }

    td {
      padding: 10px;
    }
  }

  .specification {
    .spec-label {
      font-weight: bolder;
      background-color: $lightGrey;
    }

    .spec-info {
      width: 60%;
      text-align: center;
    }
  }
}
