@import "../../style-variables";

.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 0 20px;

  @media screen and (max-width: 700px) {
    & {
      margin: 0;
    }
  }

  .cart-empty-msg {
    // margin-top: 10%;
    // font-size: 2rem;
    // font-weight: bold;
    color: $mainBlack;
  }

  .cart-lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cart-total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    .total-label,
    .total-price {
      font-size: 1.5rem;
    }

    .total-price {
      color: crimson;
    }
  }
}
